* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: url(images/Reg-background.svg);
  background-size: cover;
  background-color: #011b33;
  color: #57584e;
  font-family: Graphik, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.RegLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3% 0;
}

.RegLogo img {
  width: 90%;
}

.form-container {
  background-color: white;
  width: 550px;
  margin: 0 auto;
  position: relative;
  max-width: 95%;
  border-radius: 3px;
  padding: 35px 35px 60px 35px;
}

.form-container h1 {
  font-size: 14px;
  letter-spacing: 1px;
  text-align: center;
  margin: 30px 0;
}
.country {
  margin-bottom: 15px;
  width: 100%;
  font-size: 14px;
  font-weight: 700;
}

.flexCountry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}
.other {
  text-decoration: none;
  color: #3676c8;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 700;
}

#selectCountry {
  width: 100%;
  height: 45px;
  padding: 0 10px;
  line-height: 1.5;
  border: 1px solid #dee5e7;
  border-radius: 2px;
}

.Business-Name,
.First-Name,
.last-Name,
.Email-Address,
.Phone-Number,
.Password {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 700;
  line-height: 2.5;
}
#businessName,
#firstName,
#lastName,
#email,
#password {
  width: 100%;
  height: 45px;
  padding: 0 10px;
  border: 1px solid #dee5e7;
  border-radius: 2px;
  box-shadow: none;
}

input:focus,
#selectCountry:focus,
#country-code:focus,
#Number:focus {
  outline: 1px solid #011b33;
}

.flexPhone {
  display: flex;
  justify-content: space-between;
}

#country-code {
  width: 25%;
  height: 45px;
  padding: 0 10px;
  line-height: 1.5;
  color: #57584e;
  font-size: 14px;
  border: 1px solid #dee5e7;
  border-radius: 2px;
}

#Number {
  width: 70%;
  height: 45px;
  padding: 0 10px;
  border: 1px solid #dee5e7;
  border-radius: 2px;
}

.businessType,
.softDeveloper {
  font-size: 14px;
  margin-bottom: 15px;
}
.Business-Type {
  margin: 15px 0;
}
.Stater-Business,
.Registered-Business {
  line-height: 1.5;
  margin-bottom: 15px;
}
.Stater-Business p,
.Registered-Business p {
  margin-left: 20px;
}

#Not-A-Developer {
  margin-left: 20px;
}
.Developer {
  margin-bottom: 20px;
}

.consent {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}
#ConsentBox {
  margin-right: 10px;
}
.flexConsent {
  font-size: 15px;
  line-height: 1.5;
  font-weight: 400;
}
.policy {
  text-decoration: none;
  color: #3676c8;
}

.accept {
  width: 100%;
  background-color: #3bb75e;
  border-color: #3bb75e;
  border-radius: 5px;
  padding: 15px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 25px;
}

.info {
  text-align: center;
  padding: 15px;
}
.terms {
  text-decoration: none;
  color: #3676c8;
}

.alreadyUser {
  width: 450px;
  margin: 20px auto;
}
.alreadyUser P {
  color: #fff;
  text-align: center;
}

.login {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
.login:hover {
  text-decoration: underline;
}

footer button {
  width: 120px;
  height: 40px;
  padding: 0 5px;
  border-radius: 20px;
  background: #1a3d5d;
  border: none;
  color: rgba(255, 255, 255, 0.747);
  font-size: 15px;
  font-weight: 700;
}

footer button:hover {
  color: #fff;
}

footer a {
  position: fixed;
  bottom: 20px;
  right: 5px;
}
