@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
  padding:0px;
  margin:0px;
  box-sizing:border-box;
}
body {
  margin-top: 70px;
  margin-left: 40px;
  font-family: 'Poppins', sans-serif;
  width:100px;
}
div h5 {
  font-size:14px;
  color: #100330;
  margin-bottom:10px;
  width:200px;
  opacity:0.5;

}
div h1 {
  font-size:22px;
  color: #100330;
  margin-bottom:10px;
  line-height:1.5;
  width:350px;
  font-weight:600;
  
}
button{
  background-color: #C211A0;
  padding: 15px 40px;
  border:none;
  margin:15px 20px 15px 20px;
  position: absolute;
  left: 600px;
  top: 90px;
  color: white;
  font-size:14px;
  border-radius:5px;
}
@media only screen and (min-width:478px){
body{
  justify-content:center;
}
button{
  padding: 15px 40px;
  border:none;
  margin:10px auto;
  color: white;
  font-size:14px;
  align-items: center;
  justify-content:center;
}

}
