*   {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.boxlogos   {
    /* height: 10%; */
    width: 120px;
}

.sc5    {
    margin: 0 auto;
    width: 100%;
    /* max-width: 1040px; */
    padding: 0 50px;
    position: relative;
    background-color: #eaf6fc;
    height: 100vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.trsutedtxt {
    color: #011b33;
    font-family: 'Poppins', sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
}

.smalertxt  {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #011b33;
    margin-top: 25px;
    margin-bottom: 20px;
}

.smallesttxts  {
    font-family: 'Poppins', sans-serif;
    font-size: 1.0rem;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 30px;
}


.pictureboxes   {
    display: flex;
    justify-content: space-between;
    
}

.box1   {
    overflow: hidden;
    max-height: 100%;
    border-radius: 6px;
    border: 1px solid #f0f2f3;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    /* -ms-flex-positive: 1; */
    /* flex-grow: 1; */
    padding: 48px 32px;
    box-shadow: 0px 1px 6px rgb(0 0 0 / 2%);
    background: white;
    position: relative;
    z-index: 2;
    width: 32%;
}


.learnmore  {
    display: flex;
    align-items: center;

}

.learnp     {
    font-family: 'Poppins', sans-serif;
    font-size: 1.0rem;
    font-weight: 700;
    line-height: 1.6;
   color: #011b33;
   padding-left: 10px;
}

.trustp     {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.6;
   color: #011b33;
   width: 50%;
   margin-bottom: 40px;
}

.svgg   {
transition: all 0.5s cubic-bezier(0.17, 0.635, 0.54, 1.435);
}


.circle:hover     {
    fill:#3BB75E;
    fill-opacity: 1;
    transition: all 0.5s cubic-bezier(0.17, 0.635, 0.54, 1.435);
}

.greaterthan:hover  {
    stroke: rgb(255, 255, 255);
    stroke-width: 1.4;
    stroke-linecap: round;
    stroke-linejoin: round;
    z-index: 2;
    transition: all 0.5s cubic-bezier(0.17, 0.635, 0.54, 1.435);
}